<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Photo App</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'includes/navbar.html' %}

    <div class = "body">
        <div class = "feed">
            {% include 'includes/stories.html' %}

            
            {% include 'includes/cards.html' %}
            
        </div>
        
        {% include 'includes/suggestions.html' %}


    </div>
</body>

<!-- 
In order to make it easier to add alt text, there should be a button next to the like or share button on the post that is made for alt text. 
When the user clicks this button, a text box will pop up that prompts the user with a form to enter any alt text. 
The corresponding alt text will then be updated in the html file. 

Additionally, when a post is being made, there should also be an alt text button that allows the user to fill in alt text beforehand. 
That way, users don’t have to wait until after they post to add alt text.


-->

</html>